
*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

/* shared styles  */
.inter-normal {
  font-family: "Inter", sans-serif;
  font-style: normal;
}

.max_width{
     max-width: 1360px;
     margin: 0 auto;
}
/* Navbar styles  */

.navbar{
     display: flex;
     justify-content: space-between;
     align-items: center;
}
.nav_link{
     display: flex;
     /* align-items: center; */
     gap: 32px;
}
nav li a{
     text-decoration: none;
}
nav ul li{
     list-style: none;
}