
*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

/* shared styles  */
.inter-normal {
  font-family: "Inter", sans-serif;
  font-style: normal;
}

.max_width{
     max-width: 1360px;
     margin: 0 auto;
}
.text-center{
     text-align: center;
}
.color-1{
     color: #001931;
}
.color-2{
     color: #627382;
}

/* Navbar styles  */

.navbar{
     display: flex;
     justify-content: space-between;
     align-items: center;
}
.nav_link{
     display: flex;
     /* align-items: center; */
     gap: 32px;
}
nav li a{
     text-decoration: none;
}
nav ul li{
     list-style: none;
}
.navbar-elements{
     font-size: 16px;
     font-weight: 500;
     color: #000000;
}
.access_btn{
     border: none;
     border-radius: 5px;
     background-color: #30B868;
     color: #ffffff;
     padding: 13px 16px;
     font-size: 16px;
     font-weight: 600;
}

/* main sections styles */


.headline{
     margin-top: 40px;
}
.headline h1{
     font-size: 48px;
     font-weight: 700;
     color: #001931;
}
.headline p{
     font-size: 16px;
     font-weight: 400;
     color: #627382;
     margin-top: 10px;
     margin-bottom: 44px;
}

/* scattered section styles  */
.card-container{
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.card{
     max-width: 332px;
     text-align: center;
     padding: 24px;
     box-shadow: 5px 3px 8px 2px rgba(0, 0, 0, 0.06);
     
}

.card-title{
     color: #001931;
     font-size: 24px;
     font-weight: 600;
     margin-top: 24px;
}
.card-description{
     color: #627382;
     font-size: 16px;
     font-weight: 400;
     padding-bottom: 24px;
     margin-top: 16px;

}

.card-image{
     background-color:#F95555;
     padding: 10px;
     border-radius: 50%;
}

/* brain section styles */
.second-brain{
     display: flex;
     justify-content: space-between;
     align-items: center;
     /* gap: 60px; */
}

/* footer styles  */
.footer{
     border-radius: 5px;
     background-color: #f3f7fa;
     margin-top: 120px;
     margin-bottom: 150px;
}
footer h1{
     padding-top: 80px;
}
.last_line{
     margin-top: 10px;
     padding-bottom: 80px;
}