
*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

/* shared styles  */
.inter-normal {
  font-family: "Inter", sans-serif;
  font-style: normal;
}

.max_width{
     max-width: 1140px;
     margin: 0 auto;
}
.text-center{
     text-align: center;
}
.color-1{
     color: #001931;
}
.color-2{
     color: #627382;
}

/* banner styles  */

.banner{
     background-image: url(/images/hero-bg.png);
     background-size: cover;  
     background-position: center;
     background-repeat: no-repeat;
     padding-top: 115px;
     padding-bottom: 120px;
}

.early-access{
     text-align: center;
     width: 20%;
     border: none;
     background-color: #ffffff;
     color: #30B868;
     font-size: 16px;
     font-weight: 500;
     margin-bottom: 16px;
     padding: 8px 12px 8px 34px;
     border-radius: 20px;
} 
.early-access-dot{
     width: 8px;
     height: 8px;
     background-color: #2ecc71;
     border-radius: 50%;
}
.banner-title-1{
     color: #ffffff;
     font-size: 72px;
     font-weight: 700;
}
.banner-title-2{
     color: #30B868;
     font-size: 72px;
     font-weight: 700;
     margin-bottom: 16px;
}
.banner-description{
     color: #ffffff;
     font-size: 18px;
     font-weight: 400;
}
.secondary-btn{
     background-color: #30B868;
     border: none;
     border-radius: 5px;
     font-size: 16px;
     font-weight: 600;
     color: #ffffff;
     padding: 16px;
     margin-top: 32px;
     margin-right: 5px;
}
.how-to-work-btn{
     background: transparent;
     border: 1.5px solid rgba(255, 255, 255, 0.4);
     border-radius: 5px;
     padding: 14px;
     font-size: 16px;
     font-weight: 600;
     margin-top: 32px;
     color: #ffffff; 
}
/* Navbar styles  */

.navbar{
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-top: 30px;
}
.nav_link{
     display: flex;
     /* align-items: center; */
     gap: 32px;
}
nav li a{
     text-decoration: none;
}
nav ul li{
     list-style: none;
}
.navbar-elements{
     font-size: 16px;
     font-weight: 500;
     color: #000000;
}
.access_btn{
     border: none;
     border-radius: 5px;
     background-color: #30B868;
     color: #ffffff;
     padding: 13px 16px;
     font-size: 16px;
     font-weight: 600;
}

/* main sections styles */


.headline{
     margin-top: 40px;
}
.headline h1{
     font-size: 48px;
     font-weight: 700;
     color: #001931;
}
.headline p{
     font-size: 16px;
     font-weight: 400;
     color: #627382;
     margin-top: 10px;
     margin-bottom: 44px;
}

/* scattered section styles  */
.card-container{
     display: flex;
     justify-content: space-between;
     align-items: center;
     
}

.card{
     /* max-width: 332px; */
     width: 100%;
     text-align: center;
     padding: 24px;
     box-shadow: 5px 3px 8px 2px rgba(0, 0, 0, 0.06);
     
}

.card-title{
     color: #001931;
     font-size: 24px;
     font-weight: 600;
     margin-top: 24px;
}
.card-description{
     color: #627382;
     font-size: 16px;
     font-weight: 400;
     padding-bottom: 24px;
     margin-top: 16px;

}

.card-image{
     background-color:#F95555;
     padding: 10px;
     border-radius: 50%;
}

/* brain section styles */
.second-brain{
     display: flex;
     align-items: center;
     gap: 20px;
}
.the_solution{
     color: #30B868;
     font-size: 16px;
     font-weight: 500;
     margin-bottom: 16px;
}
.second-brain-title{
     font-size: 48px;
     font-weight: bold;
     color: #001931;
     margin-bottom: 16px;
}
.second-brain-description{
     font-size: 16px;
     font-weight: 400;
     color: #627382;
     margin-bottom: 40px;
}
.check-mark{
     color: #2ecc71;
     font-size: 20px;
     font-weight: 700;
}

/* footer styles  */
.footer{
     border-radius: 5px;
     background-color: #f3f7fa;
     margin-top: 120px;
     margin-bottom: 80px;
}
.footer-title{
     font-size: 40px;
     font-weight: bold;
     padding-top: 80px;
}
.footer-description{
     color: #627382;
     font-size: 16px;
     font-weight: 400;
     margin-bottom: 24px;
}
.last_line{
     color: #627382;
     font-size: 16px;
     font-weight: 400;
     margin-top: 10px;
     padding-bottom: 80px;
}
